{% extends 'rango/base.html' %}
{% block title %}Login{% endblock %}
{% block body_block %}
{% load static %}
		<div class="hero-unit">
			<h1>Login to BLEEPERS</h1>

			{% if failed_attempt %}
			<h4>Invalid login information</h4>
			{% endif %}

			{% if disabled %}
			<h4>This account has been disabled</h4>
			{% endif %}

			<div class="container">
				<form class="form-signin span4" id="login_form" method="post" action="/rango/login/">
					<h2 class="form-signin-heading">Please sign in</h2>
					{% csrf_token %}
					
					Username: <input type="text" class="input-block-level" placeholder="Username" name="username" value="" size="50" /><br />
					Password: <input type="password" class="input-block-level" placeholder="Passwword" name="password" value="" size="50" /><br />

					<button class="btn btn-primary" type="submit">Sign in</botton>
				</form>
			</div>	
		</div>
{% endblock %}